<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          crossorigin="anonymous">
    <style>
        body {
            font-family:Papyrus,fantasy;
            font-style:normal;
            font-variant:normal;
            font-size:20px;
            font-weight:400;
        }
        span {
            margin:20px;
        }
        .center-container {
            text-align:center;
        }
        .additional-container {
            display:flex;
            justify-content:center;
            align-items:center;
            margin:30px;
        }
    </style>
</head>
<body>
<div class="center-container">
    <h1 style="margin:50px; font-size:40px; font-weight:700;">USERS</h1>
    <div style="display:flex; justify-content:center; align-items:center;">
        <p style="text-align:justify; width:60%;">
            Here is the list of all users. Here you can manage all of them.
        </p>
    </div>
    <div class="additional-container">
        <span><a href="/admin/users/create">Create</a></span>
    </div>
    <div class="additional-container">
        <div style="width:80%; text-align:left;">
            <tr th:each="usr: ${users}">
                <td th:text="${usr.getId()}"></td>
                <td>.&nbsp</td>
                <td th:text="${usr.getFirstName()}"></td>
                <td>&nbsp</td>
                <td th:text="${usr.getSecondName()}"></td>
                <td>&nbsp</td>
                <td>username:</td>
                <td>&nbsp</td>
                <td th:text="${usr.getUsername()}"></td>
                <td>.........</td>
                <td>role:</td>
                <td>&nbsp</td>
                <td th:text="${usr.getRole()}"></td>
                <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</td>
                <td><a th:href="@{/admin/users/read/{id}(id=${usr.id})}">read</a></td>
                <td>&nbsp&nbsp</td>
                <td><a th:href="@{/admin/users/{id}/update(id=${usr.id})}">update</a></td>
                <td>&nbsp&nbsp</td>
                <td><a th:href="@{/admin/users/delete/{id}(id=${usr.id})}">delete</a></td>
                <br>
            </tr>
        </div>
    </div>
    <div style="margin:20px;">
        <a href="/admin/index">Back to main page</a>
    </div>
</div>
</body>
</html>