<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          crossorigin="anonymous">
    <style>
        body {
            font-family:Papyrus,fantasy;
            font-style:normal;
            font-variant:normal;
            font-size:20px;
            font-weight:400;
        }
        .center-container {
            text-align:center;
        }
    </style>
</head>
<body>
<div class="center-container">
    <h1 style="margin:50px; font-size:40px; font-weight:700;">WELCOME TO PIZZA TRATTORIA!</h1>
    <div style="display:flex; justify-content:center; align-items:center;">
        <p style="text-align:justify; width:60%;">
            In this application you can order many pizzas with ingredients. The application will
            store these data in a database. Have a good time using the trattoria!
        </p>
    </div>
    <h2 style="margin:20px; font-size:25; font-weight:700;">Create account or log in!:</h2>
    <div>
        <a href="registration">Registration</a><br>
        <a href="login">Log in!</a><br>
        <a href="contact">Contact</a>
    </div>
</div>
</body>
</html>